@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  background-color: #dad4ed;
  padding: 0;
  font-family: "Roboto";
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
select {
  font-family: "FontAwesome", "sans-serif";
}
